.window::before{
    content:"";
    position:absolute;
    inset:-8px;
    border-radius:34px;

    background:#b8864d;
    box-shadow:
    inset 0 2px rgba(255,255,255,.25),
    0 4px 10px rgba(0,0,0,.25);

    z-index:-1;
}
.window-frame{
    position:absolute; 
    transform-origin: yop-left;   
    top:56px;
    left:70px;

    padding:8px;
    background:#4b3326;
    border-radius:48px;

    box-shadow:
        inset 0 2px rgba(255,255,255,.25),
        0 6px 14px rgba(0,0,0,.3);
}
.window-glow{
    width:160%;
    height:90px;

    left:50%;
    bottom:-35px;

    transform:translateX(-50%);

    filter:blur(25px);

    opacity:.35;
}
.window{
    position:relative;
    width:340px;
    height:260px;

    border-radius:40px;
    overflow:hidden;
}
.window::after{
    content:"";
    position:absolute;

    inset:0;
    background:
        linear-gradient(
            rgba(255,255,255,.15),
            rgba(255,255,255,.15)
        ) center/4px 100% no-repeat,


        linear-gradient(
            rgba(255,255,255,.15),
            rgba(255,255,255,.15)
        ) center/100% 4px no-repeat;
}
.windowsill{
    position:absolute;
    left:5px;
    top:270px;
    width:365px;
    height:14px;

    background:#4b3326;
    border-radius:0 0 12px 12px;
    z-index:5;

    box-shadow: 0 8px 18px rgba(0,0,0,.25),
        inset 0 2px rgba(255,255,255,.25),
        0 6px 14px rgba(0,0,0,.3);
}
.sky{

    position:absolute;

    inset:0;

    background: linear-gradient(
    to bottom,
    #22154b 0%,
    #3c2f83 30%,
    #6a49b7 60%,
    #ff7b5a 88%,
    #ffb16a 100%
);
}
.sky::after{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        to top,
        rgba(255,180,90,.15),
        transparent 40%
    );
    pointer-events:none;
}
.star{
    position:absolute;
    width:3px;
    height:3px;

    border-radius:50%;
    background:white;

    box-shadow:0 0 8px white;
    z-index: 2;
    opacity: .75;
    animation: twinkle 4s infinite alternate;
}
.s1{
    width:2px;
    height:2px;
    top:28px;
    left:210px;
    animation: twinkle 4s ease-in-out infinite;
}
.s2{
    width:3px;
    height:3px;
    top:70px;
    left:310px;
    animation: twinkle 4s ease-in-out infinite;
}
.s3{
    width:2px;
    height:2px;
    top:115px;
    left:250px;
    animation: twinkle 5s ease-in-out infinite;
}
.s4{
    width:3px;
    height:3px;
    top:70px;
    right:310px;
    animation: twinkle 3s ease-in-out infinite;
}
.s5{
    width:2px;
    height:2px;
    top:28px;
    right:210px;
    animation: twinkle 4s ease-in-out infinite;
}
@keyframes twinkle{
    0%,100%{
        opacity:.4;
        transform:scale(1);
    }
    50%{
        opacity:1;
        transform:scale(1.3);
    }
}
@media (max-width:768px) {
    .window-frame{
        transform:scale(.72);
    }
}