.table{
    width:210px;
    height:90px;

    background:#8f6543;
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);

    border-radius:12px;
    box-shadow:
        0 8px 18px rgba(0,0,0,.25);
}
.table::before,
.table::after{
    content:"";
    position:absolute;

    width:10px;
    height:55px;

    background:#6d492d;

    bottom:-55px;
}
.table::before{
    left:18px;
}
.table::after{
    right:18px;
}